In [9]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd

In [ ]:
nama_produk = []
harga_produk = []
list_penjual = []
kota_toko = []
banyak_terjual = []
rating_produk = []

options = webdriver.ChromeOptions()
options.add_argument("enable-automation")
options.add_argument("useAutomationExtension")
options.add_argument("--no-sandbox")
options.add_argument("--disable-extensions")
options.add_argument("--dns-prefetch-disable")
options.add_argument("window-size=1920,1080")


driver = webdriver.Chrome(options=options)

# Ambil 10 halaman data
for i in range(1,110):
# Inisialisasi WebDriver
    
    url = 'https://www.tokopedia.com/search?navsource=&sc=1800&search_id=20241215062644D987C39936289E3340VF&srp_component_id=04.06.00.00&srp_page_id=&srp_page_title=&st=&q=sepatu&page={}'.format(i)
    driver.get(url)

    for i in range(22):
        driver.execute_script("window.scrollBy(0, 250)")
        time.sleep(1)

    driver.execute_script("window.scrollBy(50,0)")
    time.sleep(5)

    # Ambil konten halaman setelah dirender oleh JavaScript
    html = driver.page_source

    # Parse dengan BeautifulSoup
    soup = BeautifulSoup(html, 'html.parser')

    # Menyimpan semua produk yang memiliki class `css-5wh65g` dalam satu list `list_produk`
    list_produk = soup.find_all('div', {"class":"css-5wh65g"})

    # Ekstrak elemen web yang menampilkan nama produk, harga produk, nama toko, kota toko,jumlah terjual, dan rating dengan memanggil nama class-nya
    # try dan except untuk menghandling error jika data kosong sehingga bisa ditambahkan data None
    for produk in list_produk:
        try:
            nama = produk.find('div', {"class":"_6+OpBPVGAgqnmycna+bWIw=="}).get_text()
            nama_produk.append(nama)
        except:
            nama_produk.append(None)
        
        try:
            harga = produk.find('div', {"class":"_67d6E1xDKIzw+i2D2L0tjw=="}).get_text() 
            harga_produk.append(harga)
        except:
            harga_produk.append(None)
        
        try:
            penjual = produk.find('span', {"class":"T0rpy-LEwYNQifsgB-3SQw== pC8DMVkBZGW7-egObcWMFQ== flip"}).get_text()  # Nama produk
            list_penjual.append(penjual)
        except:
            list_penjual.append(None)
        
        try:
            kota = produk.find('span', {"class":"pC8DMVkBZGW7-egObcWMFQ== flip"}).get_text()  # Nama produk
            kota_toko.append(kota)
        except:
            kota_toko.append(None)
        
        try:
            terjual = produk.find('span', {"class":"se8WAnkjbVXZNA8mT+Veuw=="}).get_text()  # Nama produk
            banyak_terjual.append(terjual)
        except:
            banyak_terjual.append(None)

        try:
            rating = produk.find('span', {"class":"_9jWGz3C-GX7Myq-32zWG9w=="}).get_text()  # Nama produk
            rating_produk.append(rating)
        except:
            rating_produk.append(None)

In [ ]:
# Menutup driver
driver.quit()

In [7]:
# Membuat DataFrame dari semua kolom yang telah di scrapping
data_list = list(zip(nama_produk, harga_produk, list_penjual, kota_toko, banyak_terjual, rating_produk))
data = pd.DataFrame(data_list,columns=['nama_produk', 'harga_produk', 'penjual', 'kota_toko', 'banyak_terjual', 'rating_produk'])

In [8]:
data

,nama_produk,harga_produk,penjual,kota_toko,banyak_terjual,rating_produk
0,sepatu sneakers pria model terbaru fashion cas...,Rp299.000,Good Father 40,Jakarta Selatan,1 terjual,None
1,sepatu casual sneakers santai terbaru pria tre...,Rp180.000,Good Father 40,Jakarta Selatan,5 terjual,5.0
2,sepatu pria sneakers casual trendy sepatu sant...,Rp299.000,Good Father 40,Jakarta Selatan,1 terjual,None
3,sepatu sneakers sport running casual trendy fa...,Rp250.000,Good Father 40,Jakarta Selatan,2 terjual,None
4,sepatu boots pria gaya baru model fashion tgf2...,Rp275.000,Good Father 40,Jakarta Selatan,4 terjual,5.0
...,...,...,...,...,...,...
8348,SEPATU CASUAL PRIA BUCCHERI NAISER COKELAT,Rp591.570,Buccheri Official Store,Jakarta Pusat,15 terjual,5.0
8349,NoBrands Footwear - Sepatu Signature Cupsole O...,Rp299.000,nobrands_footwear,Depok,12 terjual,4.8
8350,Sepatu Boots Kulit Asli Moc Toe Boots LTHRKRFT,Rp1.380.000,LTHRKRFT,Bandung,500+ terjual,5.0
8351,Sepatu Kilap PDH POLISI TNI SATPAM SECURITY Se...,Rp94.905,BhinekaKonveksi,Kab. Bandung,500+ terjual,4.8
8352,"SEPATU ON CLOUDFLOW 4 BLACK GREY - Hitam, 39",Rp690.000,NEW BALANCEEE,Jakarta Selatan,90+ terjual,4.4

In [11]:
data.to_csv("eda2.csv", index=False)